@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .title {
    @apply font-heading font-bold uppercase text-2xl tracking-[.35em];
  }

  .breadcrumb {
    @apply font-heading font-normal uppercase;
  }

  h1 {
    @apply font-heading text-3xl md:text-5xl leading-tight;
  }
  h2 {
    @apply font-heading text-3xl md:text-5xl;
  }

  h3 {
    @apply font-heading text-2xl md:text-4xl;
  }
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
  }

  @media (min-width: 540px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 720px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 960px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1140px) {
    .container {
      max-width: 1140px;
    }
  }

  @media (min-width: 1320px) {
    .container {
      max-width: 1320px;
    }
  }
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 7px;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  bottom: 16px;
  left: 90px;
  margin-left: 8px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cta:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
